{% extends "base.html" %}

{% block content %}
  <div class = "card-wrapper">
    <div class="card">
      <h1 class="center">Create an account</h1>
      <form name="signup_form">
    
        <label for="name">Userame</label>
        <input type="text" name="username" placeholder="Pick a username..." class="field" required>

        <label for="name">Email</label>
        <input type="email" name="email" placeholder="Your email..." class="field" required>

        <label for="name">Password</label>
        <input type="password" name="password" placeholder="Enter your password..." class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign up" class="btn">
    
      </form>
    </div>

    <div class="card">
      <h1 class="center">Login</h1>
      <form name="login_form">
    
        <label for="name">Email</label>
        <input type="email" name="email" placeholder="Your email..." class="field" required>

        <label for="name">Password</label>
        <input type="password" name="password" placeholder="Enter your password..." class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Log In" class="btn">
    
      </form>
    </div>

   </div>
{% endblock %}