{% extends "base.html" %}

{% block content %}

    <div class="card-wrapper">
    
        <!-- Request Password Reset Card -->
        <div class="card">
            <h1 class="center">Forgot Password</h1>
            <p class="info-text">Enter your email below, and we'll send you a link to reset your password.</p>
            <form name="forgot_password_form" method="POST">
                {{ form.hidden_tag() }}
                
                <label for="email">Email</label>
                {{ form.email(class="field", placeholder="Enter your email...") }}
                
                <input type="submit" value="Send Reset Link" class="btn">
            </form>
            
            <a href="{{ url_for('user.login') }}" class="back-to-login">Back to Login</a>
        </div>
    </div>

{% endblock %}