{% extends "base.html" %}

{% block content %}

    <div class="card-wrapper">
    
        <!-- Request Password Reset Card -->
        <div class="card">
            <h1 class="center">Reset Password</h1>
            <p class="info-text">Enter your new password below.</p>
        
        <form name="reset_password_form" method="POST">
            {{ form.hidden_tag() }}

            <label for="new_password">New Password</label>
            <div class="password-container">
                {{ form.new_password(class="field password-input", placeholder="Enter new password...", id="reset-password") }}
                <button type="button" id="reset-toggle" class="toggle-password" onclick="togglePassword('reset-password', 'reset-toggle')">Show</button>
            </div>

            <label for="confirm_password">Confirm Password</label>
            <div class="password-container">
                {{ form.confirm_password(class="field password-input", placeholder="Confirm new password...", id="reset-confirm-password") }}
                <button type="button" id="reset-confirm-toggle" class="toggle-password" onclick="togglePassword('reset-confirm-password', 'reset-confirm-toggle')">Show</button>
            </div>


            <input type="submit" value="Reset Password" class="btn">
        </form>

        <a href="/" class="back-to-login">Back to Login</a>
        </div>
    </div>

{% endblock %}